@import url("http://fonts.cdnfonts.com/css/sofia-pro");

* {
  box-sizing: border-box;
}

body {
  font-family: "Sofia Pro", sans-serif;
  margin: 0;
}

header {
  margin: 12px;
}

.navbar {
  display: none;
}

.logo {
  width: 90px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentationSubtitle {
  text-align: center;
}

.profile {
  margin: 0;
}

.profile img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 16px;
}

.card {
  border-radius: 8px;
  width: 45%;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
  box-shadow: 4px 4px 6px 1px rgb(0 0 0 / 10%);
}

.card i {
  line-height: normal;
}

@media (min-width: 600px) and (max-width: 767px) {
  /* For tablets: */
  body {
    background-color: pink;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .hero {
    flex-direction: row;
  }

  .presentation {
    margin-right: 16px;
  }

  .card {
    width: 25%;
  }
}
